@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Merriweather&family=Poppins&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
}

.logout {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  font-size: 12pt;
}

.logout a {
  color: #fff;
  text-decoration: none;
  font-size: 12pt;
  padding: 8px;
  background-color: #2691d9;
  border-radius: 5px;
}

.chat {
  display: flex;
  flex-direction: column;
  top: 15%;
  bottom: 10%;
  left: 35%;
  width: 500px;
  height: 65%;
  border: 2px solid #efefef;
  border-radius: 5px 5px 0px 0px;
  position: fixed;
  overflow-y: scroll;
}

form {
  top: 80%;
  left: 35%;
  width: 482px;
  border: 2px solid #efefef;
  border-radius: 0px 0px 5px 5px;
  position: fixed;

}
.textcontainer{
  width: 33%;
  position: fixed;
  left: 35%;
  top: 8%;
}
.wrapper {
  max-width: 450px;
  margin: 150px auto;
}
.autocom-box{
  top: 90%;
  left: 35%;
  width: 482px;
  border: 2px solid #efefef;
  border-radius: 0px 0px 5px 5px;
  position: fixed;
}
.search-input .autocom-box {
  max-height: 280px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}

.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;

}
.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
}
.autocom-box li:hover {
  background: #f5f5f5;
}

.maintext {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  border-radius: 5px;
  color: white;
  min-height: 50px;
  width: 100%;
}

.messages {
  background-color: white;

}

.messages div {
  max-width: 80%;
  margin: 5px 5px 5px 0px;
  padding: 8px;
  border-radius: 10px;
}

.messages .bot {
  text-align: left;
  background-color:rgb(220, 224, 232);

  border-radius: 0px 16px 16px 16px;
  color: black;
}

.messages .self {
  text-align: right;
  margin-left: auto;
  background: #DDD;
  border-radius: 16px 16px 0px 16px;
  max-width: 40%;
}

.actions {
  display: flex;
  justify-content: center;
  min-height: 40px;
  background-color: #efefef;
  padding: 5px 10px;
  border-radius: 5px;
}

#send {
  padding-left: 10px;
  width: 100%;
  border-radius: 4px;
  border: #efefef;
}

.yourDivID {
  background: #2691d9;
  color: #e9f4fb;
  border: 1px solid;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 10px;
}

.mess {
  display: flex;
  flex-direction: row;
}

.abc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #2691d9;
}

#hidden-name {
  display: none;
}

.another{
  position: absolute;
  font-size: 20px;
  color: #2691d9;
  top: 1.4%;
  right: 6%;
  cursor: pointer;
}

.another .haha{
  padding: 3px;
}