<div class="form-field">
	<label for="first-name">First Name</label>
	<input type="name" name="fname" placeholder="First name" >
</div>
<div class="form-field">
	<label for="second-name">Second Name</label>
	<input type="name" name="lname" placeholder="Second name">
</div>
<div class="form-field">
	<label for="email">Email</label>
	<input type="email" name="email" placeholder="Email">
</div>
<div class="form-field">
	<label for="username">Username</label>
	<input type="username" name="username" placeholder="Username">
</div>
<div class="form-field">
	<label for="password">Password</label>
	<input type="password" name="pass1" placeholder="Password">
</div>
<div class="form-field">
	<label for="password">Confirm Password</label>
	<input type="password" name="pass2" placeholder="Password">
</div>
<button>Submitt</button>