<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chatbot</title>
  <link rel="stylesheet" href="{% static 'chatbot.css' %}">
  <script src="https://use.fontawesome.com/4868c174ee.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

    $(function () {
      var send = [
        'itching', 'skin rash', 'nodal skin eruptions',
        'continuous sneezing', 'shivering', 'chills', 'joint pain',
        'stomach pain', 'acidity', 'ulcers on tongue', 'muscle wasting',
        'vomiting', 'burning micturition', 'spotting urination', 'fatigue',
        'weight gain', 'anxiety', 'cold hands and feets', 'mood swings',
        'weight loss', 'restlessness', 'lethargy', 'patches in throat',
        'irregular sugar level', 'cough', 'high fever', 'sunken eyes',
        'breathlessness', 'sweating', 'dehydration', 'indigestion',
        'headache', 'yellowish skin', 'dark urine', 'nausea',
        'loss of appetite', 'pain behind the eyes', 'back pain',
        'constipation', 'abdominal pain', 'diarrhoea', 'mild fever',
        'yellow urine', 'yellowing of eyes', 'acute liver failure',
        'fluid overload', 'swelling of stomach', 'swelled lymph nodes',
        'malaise', 'blurred and distorted vision', 'phlegm',
        'throat irritation', 'redness of eyes', 'sinus pressure',
        'runny nose', 'congestion', 'chest pain', 'weakness in limbs',
        'fast heart rate', 'pain during bowel movements',
        'pain in anal region', 'bloody stool', 'irritation in anus',
        'neck pain', 'dizziness', 'cramps', 'bruising', 'obesity',
        'swollen legs', 'swollen blood vessels', 'puffy face and eyes',
        'enlarged thyroid', 'brittle nails', 'swollen extremeties',
        'excessive hunger', 'extra marital contacts',
        'drying and tingling lips', 'slurred speech', 'knee pain',
        'hip joint pain', 'muscle weakness', 'stiff neck',
        'swelling joints', 'movement stiffness', 'spinning movements',
        'loss of balance', 'unsteadiness', 'weakness of one body side',
        'loss of smell', 'bladder discomfort', 'foul smell ofurine',
        'continuous feel of urine', 'passage of gases', 'internal itching',
        'toxic look (typhos)', 'depression', 'irritability', 'muscle pain',
        'altered sensorium', 'red spots over body', 'belly pain',
        'abnormal menstruation', 'dischromic patches',
        'watering from eyes', 'increased appetite', 'polyuria',
        'family history', 'mucoid sputum', 'rusty sputum',
        'lack of concentration', 'visual disturbances',
        'receiving blood transfusion', 'receiving unsterile injections',
        'coma', 'stomach bleeding', 'distention of abdomen',
        'history of alcohol consumption', 'blood in sputum',
        'prominent veins on calf', 'palpitations', 'painful walking',
        'pus filled pimples', 'blackheads', 'scurring', 'skin peeling',
        'silver like dusting', 'small dents in nails',
        'inflammatory nails', 'blister', 'red sore around nose',
        'yellow crust ooze', 'prognosis'


        /* Making a list of available tags */


      ];
      $("#send").autocomplete({
        source: send

        /* #the ags is the id of the input element
        source: tags is the list of available tags*/
      });
    });
  </script>
</head>

<body>
  <div class="textcontainer">
    <div class="maintext">
      <h1>Doctor Chatbot</h1>
    </div>
  </div>
  <div id="hidden-name">{{fname}}</div>
  <div class="another"><i class="fa fa-user haha" aria-hidden="true"></i>{{fname}}</div>
  <div class="logout"><a href="{% url 'signin' %}">Logout</a></div>
  <div class="chat">
    <div class="messages" id='yourDivID'></div>
    <div id="edge"></div>

  </div>
  <div class="wrapper">
    <div class="search-input">
      <form class="actions" onclick="scrolltobottom()">
        <input id='send' type="text" placeholder="Press ‘Enter’ to send…">
        <button class='yourDivID'>Send</button>
      </form>
    </div>
  </div>
  <script src="https://unpkg.com/rivescript@latest/dist/rivescript.min.js"></script>
  <script src="{% static 'script.js' %}"></script>
</body>
</html>
