{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
</head>
<body style="background: #2BC0E4;
background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4); 
background: linear-gradient(to right, #EAECC6, #2BC0E4);">
    <nav id="navbar" class="navbar custom-light navbar-expand-lg transparent navbar-inverse">

        <div  id="sign-up" >
            <div class="primary-description" style="margin: 1rem; font-family:'Koulen', cursive;">
                Ecommerce Product Finder
            </div>

      

    <div class="wrapper-2 shadow-card" >

        <div  id="sign-up" >
            <div class="primary-description">
                <h5>Sign Up</h5>
            </div>
            <br>
            <form method="POST">
                {% csrf_token %}
              
                <div class="form-field">
                    <label for="password">New Password</label>
                    <input type="password" name='new_password1' placeholder="Password">
                </div>
                <div class="form-field">
                    <label for="password">Confirm Password</label>
                    <input type="password" name='new_password2' placeholder="Password">
                </div>
                <br>
                <div class="form-field">
                    <input type="submit" value="Change my password"  class="btn-primary btn glow-button" >
                </div>
            
              
               
            </form>
        </div>
    </div>



    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>