<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgotten Password</title>
<link rel="stylesheet" href="{% static 'forgetpass.css' %}">
</head>
<body>

    <div class="center">
      <h1>Find your Account</h1>
      <form  method="POST">
        {% csrf_token %}
        <div class="txt_field">
            <input type="email" name="email" required>
            <span></span>
            <label>Enter your Email</label>
 
        </div>
        <div class = 'submitbutton'><input type="submit" value="Reset Password"></div>
      
    </div>
  </body>
</html>